Given the code below, insert the correct negative index on line 3 in order to get the last character in the string.

In [1]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[-1])

.

<p>Given the code below, insert the correct positive index on line 3 in order to return the comma character from the string.</p>

In [2]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[7])

,

<p>Given the code below, insert the correct negative index on line 3 in order to return the <strong>w </strong>character from the string.</p>

In [4]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[-10])

w

<p>Given the code below, insert the correct method on line 3 in order to return the index of the <strong>B </strong>character in the string.</p>

In [6]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.find('B'))

print(my_string.index('B'))

26
26

<p>Given the code below, insert the correct method on line 3 in order to return the number of occurrences of the letter <strong>o </strong>in the string.</p>

In [7]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."  # 'o' karakteri dizede kac kere geciyor.

print(my_string.count('o'))

5

<p>Given the code below, insert the correct method on line 3 in order to convert all letters in the string to uppercase.</p>

In [8]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # tum harfleri buyuk harf olarak degistirin.

print(my_string.upper())

IN 2010, SOMEONE PAID 10K BITCOIN FOR TWO PIZZAS.

<p>Given the code below, insert the correct method on line 3 in order to get the index at which the substring <strong>Bitcoin </strong>starts.</p>

In [11]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # 'Bitcoin' alt dizesinin hangi indekste oldugunu gosteren metodu girin.

print(my_string.index('Bitcoin'))

26

<p>Given the code below, insert the correct method on line 3 in order to check of the string starts with the letter <strong>X</strong>.</p>

In [16]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # Bu dize 'X' karakter' ile mi basliyor?

print(my_string.startswith('X'))

print(my_string.endswith('s.'))

False
True

<p>Given the code below, insert the correct method on line 3 in order to convert all uppercase letters to lowercase and all lowercase letters to uppercase.</p>

In [17]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # Dizedeki buyuk harfleri kucuk, kucuk harfleri de buyuk yapan metodu uygulayiniz.

print(my_string.swapcase())

iN 2010, SOMEONE PAID 10K bITCOIN FOR TWO PIZZAS.

<p>Given the code below, insert the correct method on line 3 in order to remove all spaces (single Space characters from the keyboard) from the string.</p>

In [18]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # Dizedeki bosluk karakterlerini kaldiriniz.

print(my_string.replace(' ', ''))

In2010,someonepaid10kBitcoinfortwopizzas.

<p>Given the code below, insert the correct method on line 3 in order to replace all the occurrences of letter <strong>i </strong>with the substring <strong>btc</strong>.</p>

In [19]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # Dizedeki 'i' karakterklerini 'btc' karakteri ile degistiriniz.

print(my_string.replace('i', 'btc'))

In 2010, someone pabtcd 10k Bbtctcobtcn for two pbtczzas.

<p>Given the code below, insert the correct method on line 3 in order to split the entire string in two parts, using the comma as a delimiter.</p>

In [20]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # Dizeyi virgul karakterinden itibaren iki ayri parcaya bolunuz. (!)

print(my_string.split(','))

['In 2010', ' someone paid 10k Bitcoin for two pizzas.']

<p>Given the code below, insert the correct method on line 3 in order to join the characters of the string using the <strong>&amp; </strong>symbol as a delimiter.</p>

In [27]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."  # Ayrac olarak '&' kullan ve dizedeki tum karakterleri birlestir.

print('&'.join(my_string))

print(my_string.replace(' ', '&'))

print(* my_string, sep = '&')

I&n& &2&0&1&0&,& &s&o&m&e&o&n&e& &p&a&i&d& &1&0&k& &B&i&t&c&o&i&n& &f&o&r& &t&w&o& &p&i&z&z&a&s&.
In&2010,&someone&paid&10k&Bitcoin&for&two&pizzas.
I&n& &2&0&1&0&,& &s&o&m&e&o&n&e& &p&a&i&d& &1&0&k& &B&i&t&c&o&i&n& &f&o&r& &t&w&o& &p&i&z&z&a&s&.

<p>Given the code below, insert the correct code on line 4 in order to concatenate <strong>my_string</strong> with the following string:</p><code>my_other_string = "Poor guy!"</code>

In [32]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # Verilen iki stringi birlestir.
my_other_string = "Poor guy!"

print(my_string + my_other_string)

print(''.join([my_string,  my_other_string]))

In 2010, someone paid 10k Bitcoin for two pizzas.Poor guy!
In 2010, someone paid 10k Bitcoin for two pizzas.Poor guy!

<p>Given the code below, insert the correct method on line 3 in order to convert the first letter of each word in the string to uppercase.</p>

In [33]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # Dizedeki her kelimenin ilk harfini buyuk yapan metodu uygula.

print(my_string.title())

In 2010, Someone Paid 10K Bitcoin For Two Pizzas.

<p>Given the code below, use string formatting with the <strong>format()</strong> method on line 3 to map the values of <strong>2010</strong>, <strong>10k </strong>and <strong>Bitcoin </strong>to the corresponding formatting operators.</p>

In [36]:
my_string = "In {}, someone paid {} {} for two pizzas." # Verilen degerleri karsiligi gelen yerlere format metodu ile yerlestirin. Pozitif indeks ile.

print(my_string.format('2010', '10k', 'Bitcoin'))

In 2010, someone paid 10k Bitcoin for two pizzas.

<p>Given the code below, use slicing and insert the correct code on line 3 in order to return the substring <strong>2010 </strong>from the string. Use positive indexes!</p>

In [37]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # 2010'u slice ile indeksleyin ve pozitif indeks kullanin.

print(my_string[3:7])

2010

<p>Given the code below, use slicing and insert the correct code on line 3 in order to return the substring <strong>Bitcoin </strong>from the string. Use negative indexes!</p>

In [38]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # 'Bitcoin' dizesini negatif indeks ile slicelayin.

print(my_string[-23:-16])

Bitcoin

<p>Given the code below, use slicing and insert the correct code on line 3 in order to return the first 12 characters in the string. Use a single, positive index!</p>

In [40]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # Tek bir pozitif indeks kullanarak ilk 12 karakteri slicelayin.

print(my_string[:12])

In 2010, som

<p>Given the code below, use slicing and insert the correct code on line 3 in order to return the last 9 characters of the string. Use a single, negative index!</p>

In [41]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # Negatif indeks kullanarak dizenin son 9 karakterini slicelayin.

print(my_string[-9:])

o pizzas.

<p>Given the code below, use slicing and insert the correct code on line 3 in order to return the entire string in reversed order.</p>

In [43]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # Tum dizeyi ters yazdirin.

print(my_string[::-1])

.sazzip owt rof nioctiB k01 diap enoemos ,0102 nI

<p>Given the code below, use slicing and insert the correct code on line 3 in order to return every 7th character of the string, starting with the first character.</p><p>The final result should be <code>I,n top</code></p>

In [52]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # Ilk karakterden baslayarak her 7 karakterde de bir gelen degeri yazdirin.

print(my_string[::7])

I,n top

<p>Given the code below, use slicing and insert the correct code on line 3 in order to return the string except the first 10 characters. Use a single, positive index!</p>

In [46]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # Dizeyi ilk 10 karakteri haric yazdirin ve tek bir pozitif indeks kullanin.

print(my_string[10:])

omeone paid 10k Bitcoin for two pizzas.

<p>Given the code below, use slicing and insert the correct code on line 3 in order to return the string except the last 4 characters. Use a single, negative index!</p>

In [50]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas." # Dizeyi son 4 karakter haric yazdirin ve negatif indeks kullanin.

print(my_string[:-4])

In 2010, someone paid 10k Bitcoin for two piz