In [4]:
# output 2775
# for loop
# Sum of 1 - 74 between.
toplam = 0
for i in range(1,75):
  toplam += i

print(toplam)

2775

In [ ]:
who = ['I am ', 'You are ']
mood = ['happy', 'confident']

for i in who:
  for j in mood:
    print(i + j)

In [5]:
names = ["susan", "tom", "edward"]
mood = ["happy", "sad"]


for i in names:
  for j in mood:
    print(i, j)

susan happy
susan sad
tom happy
tom sad
edward happy
edward sad

In [8]:
numbers = list(range(0,51, 10))

letters = ['a', 'b', 'c', 'd','e']

names = ['james', 'davis', 'elvis', 'martin']


for i in numbers:
  for j in letters:
    for k in names:
      print(str(i) + ' ' + j + ' ' + k)

0 a james
0 a davis
0 a elvis
0 a martin
0 b james
0 b davis
0 b elvis
0 b martin
0 c james
0 c davis
0 c elvis
0 c martin
0 d james
0 d davis
0 d elvis
0 d martin
0 e james
0 e davis
0 e elvis
0 e martin
10 a james
10 a davis
10 a elvis
10 a martin
10 b james
10 b davis
10 b elvis
10 b martin
10 c james
10 c davis
10 c elvis
10 c martin
10 d james
10 d davis
10 d elvis
10 d martin
10 e james
10 e davis
10 e elvis
10 e martin
20 a james
20 a davis
20 a elvis
20 a martin
20 b james
20 b davis
20 b elvis
20 b martin
20 c james
20 c davis
20 c elvis
20 c martin
20 d james
20 d davis
20 d elvis
20 d martin
20 e james
20 e davis
20 e elvis
20 e martin
30 a james
30 a davis
30 a elvis
30 a martin
30 b james
30 b davis
30 b elvis
30 b martin
30 c james
30 c davis
30 c elvis
30 c martin
30 d james
30 d davis
30 d elvis
30 d martin
30 e james
30 e davis
30 e elvis
30 e martin
40 a james
40 a davis
40 a elvis
40 a martin
40 b james
40 b davis
40 b elvis
40 b martin
40 c james
40 c davis
40 c elvis
40 c martin
40 d james
40 d davis
40 d elvis
40 d martin
40 e james
40 e davis
40 e elvis
40 e martin
50 a james
50 a davis
50 a elvis
50 a martin
50 b james
50 b davis
50 b elvis
50 b martin
50 c james
50 c davis
50 c elvis
50 c martin
50 d james
50 d davis
50 d elvis
50 d martin
50 e james
50 e davis
50 e elvis
50 e martin

In [10]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


for i in numbers:
  if i == 6:
    continue
  print(i)


# continue'dan sonra gelen kod bloglari calismaz , tekrar for doongusune gider.

0
1
2
3
4
5
7
8
9
10

In [11]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


for i in numbers:
  if i == 6 or i == 8:
    continue
  print(i)

0
1
2
3
4
5
7
9
10

In [12]:
import math

year = int(input('Please enter a year: '))
print(f"{math.ceil(year / 100)}.yy")

Please enter a year: 2001
21.yy

In [13]:
math.ceil(100.50)

101

In [15]:
print("I love you")
print()
print('me too', 2023)
print()

I love you

me too 2023

In [16]:
float(12)

12.0

In [17]:
int(2.4)

2

In [18]:
str(12)

'12'

In [19]:
dict(a=1, b=2)

{'a': 1, 'b': 2}

In [20]:
bool(1)

True

In [21]:
bool(0)

False

In [22]:
my_list = [1, 11, 22, 35, 2, 3]

tuple(my_list)

(1, 11, 22, 35, 2, 3)

In [31]:
#filter()

def cift_sayi(a):
  return a % 2 == 0

numbers = list(range(1,21))
print(numbers)

print('-'*20)

list(filter(cift_sayi, numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
--------------------

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [28]:
listem = [True, 0, 1, 2, False, 'Hello', 'True']

list(filter(None, listem))

[True, 1, 2, 'Hello', 'True']

In [29]:
# map()
def kareal(a):
  return a ** 2

numbers = list(range(1,11))

print(list(map(kareal, numbers)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
numbers = list(range(1,11))
lst = []
for i in numbers:
  lst.append(i**2)

print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
# enumerate()
grocery = ['bread', 'water',' olive']

enum_grocery = list(enumerate(grocery))
print(type(enumerate(grocery)))
enum_grocery

<class 'enumerate'>

[(0, 'bread'), (1, 'water'), (2, ' olive')]

In [36]:
grocery = ['bread', 'water',' olive']

enum_grocery = list(enumerate(grocery, 101))

enum_grocery

[(101, 'bread'), (102, 'water'), (103, ' olive')]

In [37]:
grocery = ['bread', 'water',' olive']

enum_grocery = list(enumerate(grocery, 2001))

enum_grocery

[(2001, 'bread'), (2002, 'water'), (2003, ' olive')]

In [38]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [39]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [40]:
max(100, 200)

200

In [41]:
listem = [11,2,3,5,19, 25, 200, 195, 201, 1002, 5000]

max(listem)  # en buyuk sayiyi retrun eder.

5000

In [42]:
min(listem)  # en kucuk sayiyi return eder.

2

In [43]:
sum(listem)  # toplama yapar.

6663

In [52]:
sum(listem, 100)  # toplama islemine 100'den baslar. yani 100 ekleyerek toplama islemini gerceklestirir.

6763

In [44]:
pow(2, 3)

8

In [45]:
import math

math.sqrt(9)

3.0

In [46]:
pow(9,0.5)

3.0

In [47]:
eval("2+3")  # !!!! Guvenlik acigi olusturabileceginden kullanilmasi tavsiye edilmez.

5

In [48]:
2+3

5

In [49]:
eval("5+3")

8

In [54]:
def topla(a,b):
  print(a + b)

topla(2,3)

5

In [55]:
topla(3,5)

8

In [58]:
def first_function(a,b):
  print(a**2 + b**2)


first_function(2,3)  # 4 + 9 = 13

13

In [62]:
def motto():
  print("Don't hesitate to reinvent yourself")



motto()

Don't hesitate to reinvent yourself

In [64]:
# add, sum of two numbers, print result
def add(a,b):
  print(a + b)

add(3,5)

8

In [65]:
def calculator(num1, num2, op):
  '''
  Bu iki sayi arasinda basit matematiksel hesaplamalar yapan bir fonksiyondur.
  3 parametre alir.
  num1 : bir integer deger alir.
  num2 : bir integer deger alir.
  op   : '+', '-', '/', '*' isaretlerini str olarak alir.

  op olarak girilen operatore gore matematiksel islemi gerceklestirir ve bunu ekrana print eder.
  '''

  if op == '+':
    print(num1 + num2)
  elif op == '-':
    print(num1 - num2)
  elif op == '/':
    print(num1 / num2)
  elif op == '*':
    print(num1 * num2)
  else:
    print("Please, enter valid arguments")

In [66]:
calculator(5,6,'*')

30

In [67]:
calculator(10, 12, '+')

22

In [68]:
calculator(20, 4, '/')

5.0

In [69]:
calculator(25, 20, '-')

5

In [71]:
calculator(20, 4, '%')

Please, enter valid arguments

In [72]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [74]:
print(print.__doc__)  # __doc__   fonksiyonun kullanma rehberi gibi dusunulebilir.

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [75]:
print(calculator.__doc__)

  Bu basit matematiksel hesaplamalar yapan bir fonksiyondur.
  3 parametre alir.
  num1 : bir integer deger alir.
  num2 : bir integer deger alir.
  op   : '+', '-', '/', '*' isaretlerini str olarak alir.

  op olarak girilen operatore gore matematiksel islemi gerceklestirir ve bunu ekrana print eder.

In [76]:
help(calculator)

Help on function calculator in module __main__:

calculator(num1, num2, op)
    Bu basit matematiksel hesaplamalar yapan bir fonksiyondur.
    3 parametre alir.
    num1 : bir integer deger alir.
    num2 : bir integer deger alir.
    op   : '+', '-', '/', '*' isaretlerini str olarak alir.

    op olarak girilen operatore gore matematiksel islemi gerceklestirir ve bunu ekrana print eder.

In [77]:
# gonullu task.
# Bir menu iceren calculator fonk. yazalim.
# while if,elif else, match/case

"""MENU = '''
0- cikis
1- toplama
2- cikarma
3- carpma
4- bolme
5- karekok
6- faktoriyel
7- us alma
 '''
"""

"MENU = '''\n1- toplama\n2- cikarma\n3- carpma\n4- bolme\n5- karakok\n6- faktoriyel\n7- us alma\n '''\n"

In [78]:
def add(a,b):
  print(a + b)

In [79]:
add(5,3)

8

In [80]:
add(5,3) + 2

8

TypeError: ignored

In [81]:
type(add(5,4))

9

NoneType

In [82]:
def add(a,b):
  return a + b

add(5,3) + 2

10

In [83]:
type(add(5,3))  # bir integer deger return ettigini anlariz.

int

In [84]:
add(5,3)

8

In [85]:
print(add(5,3))

8

In [86]:
def add(a,b):
  print(a + b)

In [87]:
print(add(5,3))

8
None

In [88]:
def absolute_value(x):
  if x < 0:
    return -x
  else:
    return x

In [89]:
absolute_value(-5)

5

In [90]:
print(absolute_value(3.3))

3.3