**Python official documentation 1 - Defining Functions: https://docs.python.org/3/tutorial/controlflow.html#defining-functions**

**Python official documentation 2 - Default Argument Values: https://docs.python.org/3/tutorial/controlflow.html#default-argument-values**

**Python official documentation 3- Keyword Arguments: https://docs.python.org/3/tutorial/controlflow.html#keyword-arguments**

**Python official documentation 4- Positional or Keyword Arguments:  https://docs.python.org/3/tutorial/controlflow.html#positional-or-keyword-arguments**

**Python official documentation 5- Arbitrary Argument Lists: https://docs.python.org/3/tutorial/controlflow.html#arbitrary-argument-lists**

In [ ]:
def who(first_name, last_name):
  print(f"Your first name is {first_name}")
  print(f"Your last name is {last_name}")

In [ ]:
who('Robert', 'De Niro')

Your first name is Robert
Your last name is De Niro

In [ ]:
who('Robert')

TypeError: ignored

In [ ]:
who('Guido', 'Van Rossum')

Your first name is Guido
Your last name is Van Rossum

In [ ]:
a = 'i'
b = 'love'
c = 'you'

print(a, b, c)

i love you

In [ ]:
print(b,a,c)

love i you

In [ ]:
a = 'i'
b = 'love'
c = 'you'

def texter(c, a, b):
  print(a, b, c)

In [ ]:
texter(c,a,b)

i love you

In [ ]:
texter(a,b,c)

love you i

In [ ]:
def texter(text1, text2, text3):
  print(f"{text2} {text3} {text1}")

In [ ]:
texter('I', 'love', 'you')

In [ ]:
texter('you', 'I', 'love')

I love you

In [ ]:
def who(first_name, last_name):
  print(f"Your first name is {first_name}")
  print(f"Your last name is {last_name}")

In [ ]:
who(first_name = 'Robert', last_name = 'De Niro')

Your first name is Robert
Your last name is De Niro

In [ ]:
def texter(text1, text2, text3):
  print(f"{text2} {text3} {text1}")

In [ ]:
texter(text1 = 'you', text2 = 'I', text3 = 'love')

I love you

In [ ]:
texter(text2 = 'I', text3 = 'love', text1 = 'you')

I love you

In [ ]:
def introduce(name = "Ali", age = 12):
  print(f"My name is {name}, I'm {age}")

In [ ]:
introduce()

My name is Ali, I'm 12

In [ ]:
introduce(name = 'Mehmet')

My name is Mehmet, I'm 12

In [ ]:
introduce(age = 25)

My name is Ali, I'm 25

In [ ]:
introduce('Mehmet', 25)

My name is Mehmet, I'm 25

In [ ]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [ ]:
parrot(1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [ ]:
parrot(voltage = 1_000_000)

-- This parrot wouldn't voom if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [ ]:
parrot(action = "VOOOOM", voltage = 1000000)  # tum argumentler kwargs ise sira farketmeksizin yazilabilir

-- This parrot wouldn't VOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [ ]:
parrot(110, voltage = 10000)  # cift atama

TypeError: ignored

In [ ]:
parrot(state = 'Ankara', 110)  # hicbir zaman positional argument ler keyword argumentlerden sonra gelmez!

SyntaxError: ignored

In [ ]:
parrot(actor = "Robert De Niro")

TypeError: ignored

In [ ]:
def record(a):
  pass

In [ ]:
def city(capital, continent = "Europe"):
  print(capital, 'in', continent)

In [ ]:
help(city)

Help on function city in module __main__:

city(capital, continent='Europe')

In [ ]:
city("Paris")

Paris in Europe

In [ ]:
city("Bamako", "Africa")

Bamako in Africa

In [ ]:
city("Bamako", continent = "Arfica")

Bamako in Arfica

In [ ]:
'''
Web sitemdeki form.
Isim :
adres :
email :
tel :
*** Fakat kullanicidan ulkeyi almama ragmen bunu database e gonderirken bos gonderemiyorum. !!!!
'''

'\nWeb sitemdeki form.\nName :\nadres :\nemail :\ntel :\n*** Fakat kullanicidan ulkeyi almama ragmen bunu database e gonderirken bos gonderemiyorum. !!!!\n'

In [ ]:
def customer_record(isim, adres, email, tel, ulke = "USA"):
  print(f"Isim : {isim}")
  print(f'adres : {adres}')
  print(f'email : {email}')
  print(f'Tel : {tel}')
  print(f'Ulke : {ulke}')
  print('Kaydedildi')

In [ ]:
customer_record("Robert", "California", "robert@test.com", "+12122211445")

Isim : Robert
adres : California
email : robert@test.com
Tel : +12122211445
Ulke : USA
Kaydedildi

In [ ]:
a, b = 1, 2

print(a)
print(b)

1
2

In [ ]:
a, *b = 1, 2, 3
print(a)
print(b)

1
[2, 3]

In [ ]:
*a, b = 1, 2, 3
print(a)
print(b)

[1, 2]
3

In [ ]:
def topla(*num):  # args
  toplam = 0
  for i in num:
    toplam += i
  return toplam

In [ ]:
topla(2,3)

5

In [ ]:
topla(2,3,5)

10

In [ ]:
topla(2,3,5, 6)

16

In [ ]:
topla(1)

1

In [ ]:
def fruiterer(*args):
  for i in args:
    print(i, end = ' ')

In [ ]:
fruiterer('elma', 'armut')

elma armut

In [ ]:
fruiterer('elma', 'armut', 'kiraz')

elma armut kiraz

In [ ]:
def slicer(*args):
  evens = []
  odds = []
  for i in args:
    if i % 2 == 0:
      evens.append(i)
    else:
      odds.append(i)
  print(f"Even list : {evens}")
  print(f"Odd list : {odds}")

In [ ]:
slicer(1, 11, 22, 6, 7, 60, 55, 72, 99, 101,130,2002, 2024)

Even list : [22, 6, 60, 72, 130, 2002, 2024]
Odd list : [1, 11, 7, 55, 99, 101]

In [ ]:
slicer(1,2,4,5,15, 22, 11)

Even list : [2, 4, 22]
Odd list : [1, 5, 15, 11]

In [ ]:
max(11,22)

22

In [ ]:
print(max.__doc__)

max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

In [ ]:
def organizer(**kwargs):
  names = []
  ages = []
  for key, value in kwargs.items():
    names.append(key)
    ages.append(value)
  print(names, ages, sep = '\n')

In [ ]:
organizer(Ali = 23, Veli = '22', zeynep = 25, Robert = 40)

['Ali', 'Veli', 'zeynep', 'Robert']
[23, '22', 25, 40]

In [ ]:
organizer(josepsh = 22, marry = 23)

['josepsh', 'marry']
[22, 23]

In [ ]:
my_dict = dict(Ali = 23, Veli = '22', zeynep = 25, Robert = 40)

my_dict

{'Ali': 23, 'Veli': '22', 'zeynep': 25, 'Robert': 40}

In [ ]:
organizer(**my_dict)

['Ali', 'Veli', 'zeynep', 'Robert']
[23, '22', 25, 40]